/* import font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.rotateLeftImg {
  position:relative;
  right:25%;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg); /* Standard syntax */
  /* margin-right: 50px; */
}

.rotateRightImg {
  position:relative;
  left:30%;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg); /* Standard syntax */
  /* margin-left: 50px; */
}

.rotateLeftImgMobile {
  position:relative;
  right:20%;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg); /* Standard syntax */
}

.rotateRightImgMobile {
  position:relative;
  left:20%;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg); /* Standard syntax */
}

.rotateLeftImgDetail {
  position:relative;
  right:30%;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg); /* Standard syntax */
}

.rotateRightImgDetail {
  position:relative;
  left:30%;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg); /* Standard syntax */
}

.rotateLeftImgDetailMobile {
  position:relative;
  right:20%;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg); /* Standard syntax */
}

.rotateRightImgDetailMobile {
  position:relative;
  left:20%;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg); /* Standard syntax */
}

.borderless {
  background: #f8e7c5 !important;
  border: 1px solid #f8e7c5 !important;
}

.title{
  font-family: 'Berkshire Swash' !important;
  font-size: 40px;
  text-align: center;
}

body{
  background: #f8e7c5 !important;
  font-family: 'Roboto', sans-serif;
}

.infopanel {
  background: #32170b !important;
  border-radius: 0px !important;
  height: 75px !important;
  padding-left: 20px;
  padding-right:20px;
}

.banner-header {
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 75%;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row3 ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  list-style: none;
  margin-bottom: 10px;
}

.name-md {
  font-size: 15px !important;
  margin-top: 13px !important;
  margin-left: 5px !important;
}

.searchbar {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.dropdownsearch {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: #ff7300 !important;
  color: #f8e7c5 !important;
}

.dropdownsearchmenu {
  background: #5b5b5b !important;
}

.dropdownsearchitem > span {
  color: #ffffff !important;
}

.menubar {
  background: #472210 !important;
  border-radius: 0px !important;
  height: 75px !important;
}

.menu-link {
  color: #f8e7c5 !important;
}

.footer {
  padding: 0px !important;
  margin: 0px !important;
  object-fit: cover;
}

.widget2 {
    height: 200px;
    width: 35%;
    border: 2px solid #487eb0;
    color: white;
    background-color: #487eb0;
    margin: 25px 15px auto 15px;
    border-radius: 10px;
}

.widget1 {
    height: 200px;
    width: 65%;
    border: 2px solid #487eb0;
    color: white;
    background-color: #487eb0;
    margin-left: 15px;
    margin-top: 25px;
    border-radius: 10px;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
